@inherits HGP.Web.Infrastructure.HelperPage 
@using System.Web.Mvc.Html 

@helper Pager(int currentPageIndex, int pageRecordsCount, int totalRecordsCount, string selectorId, string action)
    {
       int totalPagesCount = (int) Math.Ceiling((double) totalRecordsCount/(double) pageRecordsCount);
       int numberOfPagesToDisplay = 10;
       int firstDisplayedPageIndex = 1;
       int lastDisplayedPageIndex = totalPagesCount;
       if (totalPagesCount > numberOfPagesToDisplay)
       {
           int middleDisplayedPageIndex = (int) Math.Ceiling((double) numberOfPagesToDisplay/2d) - 1;
           firstDisplayedPageIndex = (currentPageIndex - middleDisplayedPageIndex);
           lastDisplayedPageIndex = (currentPageIndex + middleDisplayedPageIndex);
           if (firstDisplayedPageIndex < 4)
           {
               lastDisplayedPageIndex = numberOfPagesToDisplay;
               firstDisplayedPageIndex = 1;
           }
           else if (lastDisplayedPageIndex > (totalPagesCount - 4))
           {
               lastDisplayedPageIndex = totalPagesCount;
               firstDisplayedPageIndex = (totalPagesCount - numberOfPagesToDisplay + 1);
           }
       }
       <div id="@selectorId" class="ui-helper-clearfix">
           @if (currentPageIndex > 1)
           {
               @Html.ActionLink("<", action, new {page = currentPageIndex - 1}, new {@class = "ui-state-default ui-corner-all"})
           }
           else
           {
               <span class="ui-state-default ui-corner-all ui-state-disabled">&lt;</span>
           }
           @if (firstDisplayedPageIndex > 1)
           {
               @Html.ActionLink("1", action, new {page = 1}, new {@class = "ui-state-default ui-corner-all"})
               if (firstDisplayedPageIndex > 3)
               {
                   @Html.ActionLink("2", action, new {page = 2}, new {@class = "ui-state-default ui-corner-all"})
               }
               if (firstDisplayedPageIndex > 2)
               {
                   <span>...</span>
               }
           }
           @for (int displayedPageIndex = firstDisplayedPageIndex; displayedPageIndex <= lastDisplayedPageIndex; displayedPageIndex++)
           {
               if (displayedPageIndex == currentPageIndex || (currentPageIndex <= 0 && displayedPageIndex == 0))
               {
                   @Html.Raw(String.Format("<span class=\"ui-state-hover ui-corner-all\">{0}</span>", displayedPageIndex))
               }
               else
               {
                   @Html.ActionLink(displayedPageIndex.ToString(), action, new {page = displayedPageIndex}, new {@class = "ui-state-default ui-corner-all"})
               }
           }
           @if (lastDisplayedPageIndex < totalPagesCount)
           {
               if (lastDisplayedPageIndex < totalPagesCount - 1)
               {
                   <span>...</span>
               }
               if (totalPagesCount - 2 > lastDisplayedPageIndex)
               {
                   @Html.ActionLink((totalPagesCount - 1).ToString(), action, new {page = totalPagesCount - 1}, new {@class = "ui-state-default ui-corner-all"})
               }
               @Html.ActionLink(totalPagesCount.ToString(), action, new {page = totalPagesCount}, new {@class = "ui-state-default ui-corner-all"})
           }
           @if (currentPageIndex < totalPagesCount)
           {
               @Html.ActionLink(">", action, new {page = currentPageIndex + 1}, new {@class = "ui-state-default ui-corner-all"})
           }
           else
           {
               <span class="ui-state-default ui-corner-all ui-state-disabled">&gt;</span>
           }
       </div>
   }
