@model HGP.Web.Models.Admin.SiteCreateModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="content">

    <div class="row">
        <article class="col-md-10 col-md-offset-1">

            <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">
                <div class="widget-body no-padding">

                    @using (Html.BeginRouteForm("AdminPortalRoute", new { controller = "AdminSite", portalTag = Model.PortalTag, action = "Create" },
                        FormMethod.Post, new { id = "sites-createform", @class = "smart-form", enctype = "multipart/form-data", role = "form", novalidate = "novalidate" }))
                    {

                        <div class="form-group">
                            <h2 class="slider-post-title">Create a Portal</h2>
                        </div>
                        
                        @Html.ValidationSummary("", new {@class = "text-danger"})

                        <header>Company Information</header>
                        <fieldset>
                                
                            <div class="row">
                                <section class="col col-6 form-group">
                                    <label class="input">
                                        @Html.TextBoxFor(m => m.CompanyName, new {@placeholder = "Company name"})
                                    </label>
                                </section>
                            </div>
                        </fieldset>

                        <header>Primary Contact</header>

                        <fieldset>
                            <div class="row">
                                <section class="col col-6 form-group">
                                    <label class="input">
                                        <i class="icon-prepend fa fa-user"></i>
                                        @Html.TextBoxFor(m => m.FirstName, new {@placeholder = "First name"})
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="input">
                                        <i class="icon-prepend fa fa-user"></i>
                                        @Html.TextBoxFor(m => m.LastName, new {@placeholder = "Last name"})
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-6 form-group">
                                    <label class="input">
                                        <i class="icon-prepend fa fa-envelope-o"></i>
                                        @Html.TextBoxFor(m => m.SupportEmail, new {@placeholder = "Email"})
                                    </label>
                                </section>
                                <section class="col col-6 form-group">
                                    <label class="input">
                                        <i class="icon-prepend fa fa-phone"></i>
                                        @Html.TextBoxFor(m => m.Phone, new {@placeholder = "Phone", @data_mask = "(999) 999-9999? x99999"})
                                    </label>
                                </section>
                            </div>
                            
                            <div class="row">
                                <section class="col col-6 form-group">
                                    <label class="label">Primary AE</label>
                                    <label class="select">
                                        @Html.DropDownListFor(
                                                            model => model.CurrentAe,
                                                            Model.AEs.Select(h => new SelectListItem
                                                                {
                                                                    Text = h.FirstName + " " + h.LastName,
                                                                    Value = h.Email
                                                                }),
                                                            "Please select an AE")
                                         <i></i>
                                    </label>
                                </section>
                            </div>
                        </fieldset>

                        <header>Address</header>

                        <fieldset>
                            <section class="form-group">
                                <label class="input">
                                    @Html.TextBoxFor(m => m.LocationName, new {@placeholder = "Location name"})
                                </label>
                            </section>

                            <div class="row">
                                <section class="col col-4 form-group">
                                    <label class="input">
                                        @Html.TextBoxFor(m => m.Country, new {@placeholder = "Country"})
                                    </label>
                                </section>

                                <section class="col col-4 form-group">
                                    <label class="input">
                                        @Html.TextBoxFor(m => m.City, new {@placeholder = "City"})
                                    </label>
                                </section>

                                <section class="col col-2 form-group">
                                    <label class="input">
                                        @Html.TextBoxFor(m => m.State, new {@placeholder = "State"})
                                    </label>
                                </section>
            
                                <section class="col col-2 form-group">
                                    <label class="input">
                                        @Html.TextBoxFor(m => m.Zip, new {@placeholder = "Zip code"})
                                    </label>
                                </section>
                            </div>

                            <section class="form-group">
                                <label for="Street1" class="input">
                                    @Html.TextBoxFor(m => m.Street1, new {@placeholder = "Street"})
                                </label>
                            </section>

                            <section class="form-group">
                                <label for="Street2" class="input">
                                    @Html.TextBoxFor(m => m.Street2, new {@placeholder = "Street"})
                                </label>
                            </section>

                            <section class="form-group">
                                <label class="textarea">
                                    @Html.TextAreaFor(m => m.AddressNotes, 3, 0, new {@placeholder = "Additional info"})
                                </label>
                            </section>
                        </fieldset>

                        <header>Site Settings</header>

                        <fieldset>
                            <div class="row">
                                <section class="col col-6 form-group">
                                    <label class="input">
                                        @Html.TextBoxFor(m => m.PortalTag, new {@placeholder = "Portal Tag", @class = ""})
                                    </label>
                                </section>
                                <section class="col col-6 form-group">
                                    <label class="input">
                                        @Html.TextBoxFor(m => m.EmailRegex, new {@placeholder = "Email Filter", @class = ""})
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-6 form-group">
                                    <label class="input">
                                        @Html.TextBoxFor(m => m.AssetExpirationDays, new {@placeholder = "Asset Expiration (days)", @class = ""})
                                    </label>
                                </section>
                                <section class="col col-6 form-group">
                                    <label class="input">
                                    </label>
                                </section>
                            </div>
                        </fieldset>

                        <footer>
                            <button type="submit" class="btn btn-primary">
                                Save
                            </button>
                        </footer>


                    }
                </div>
            </div>
        </article>
    </div>
    </div>

