@model HGP.Web.Models.Requests.RequestListModel
@{
    ViewBag.Title = "Requests";
    ViewBag.MainClass = "content_full_width";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
}
<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget well">
                <header>
                    <h2><strong>Requests</strong></h2>
                </header>
                <div role="content">
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="padding-10 margin-left-10">
                                    <h3 class="margin-top-0">
                                        Your requests & transfers
                                    </h3>
                                    <hr class="margin-bottom-0" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11 col-md-offset-1">
                                <div id="pending-requests" class="padding-10 no-padding-left">
                                    @if (!Model.Requests.Any())
                                    {
                                        <h3 class="margin-top-0">
                                            No requests found
                                        </h3>
                                    }
                                    <table id="product-grid" class="table table-striped table-hover">
                                        <tbody id="list-container">
                                            @foreach (var request in Model.Requests)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <p>Status: <strong class="padding-right-10">@request.Status</strong>  Number: <strong>@request.RequestNum</strong></p>
                                                                <p>Request Date: <strong class="padding-right-10">@request.RequestDate</strong> Assets: <strong>@request.AssetCount</strong></p>
                                                                <p>TOTAL: @MyHelpers.FormatCurrency(Html, @request.AssetRequests.Sum(x => decimal.Parse(x.BookValue) * x.Quantity))</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <table id="product-grid" class="table table-hover">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="text-center">QTY</th>
                                                                            <th>ITEM</th>
                                                                            <th></th>
                                                                            <th>NBV</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="list-container">
                                                                        @foreach (var assetRequest in request.AssetRequests)
                                                                        {
                                                                            <tr id="@assetRequest.Id">
                                                                                <td width="100">
                                                                                    @if (assetRequest.Media != null & assetRequest.Media.Count > 0)
                                                                                    {   <a href='@("/" + Model.SiteSettings.PortalTag + "/asset/index/" + assetRequest.HitNumber)'>
                                                                                <img src='@("https://s3-us-west-1.amazonaws.com/hgpmedia/" + Model.SiteSettings.PortalTag + "/t/" +  assetRequest.Media[0].FileName)' />
                                                                                    </a>
                                                                                    }
                                                                                </td>
                                                                                <td>
                                                                                    @assetRequest.Title<br />
                                                                                    <p>Approver: <strong><a href="mailto:@request.ApprovingManagerEmail">@request.ApprovingManagerName</a></strong> Phone: <strong class="phone">@request.ApprovingManagerPhone</strong></p>
                                                                                    <p>Status: <strong class="@assetRequest.Status.ToString().ToLower()">@assetRequest.Status</strong> @assetRequest.TaskComment</p>
                                                                                    <p>Owner: <strong><a href="mailto:@assetRequest.OwnerEmail">@assetRequest.OwnerName</a></strong></p>
                                                                                    @if (assetRequest.Status != GlobalConstants.RequestStatusTypes.Denied && assetRequest.Status != GlobalConstants.RequestStatusTypes.Approved)
                                                                                    {
                                                                                        <button class="btn btn-sm bg-color-blue txt-color-white" data-original-title="" onclick="sendReminder('@request.Id'); ">Send Reminder</button>
                                                                                        <button class="btn btn-sm bg-color-blue txt-color-white" data-original-title="" onclick="cancelAssetRequest('@assetRequest.Id'); ">Cancel Request</button>
                                                                                    }
                                                                                </td>
                                                                                <td></td>
                                                                                <td class="price">
                                                                                    @if (assetRequest.DisplayBookValue)
                                                                                    {
                                                                                        <span>@MyHelpers.FormatCurrency(Html, assetRequest.BookValue)</span>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <span>@Model.SiteSettings.BookValueMessage</span>
                                                                                    }
                                                                                </td>

                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
            </div>
            <!-- end widget div -->
        </article>
    </div>
</section>
@section scripts {
    <script>
        function cancelAssetRequest(assetRequestId) {
            var action = '@Url.RouteUrl("PortalRoute", new {portaltag = Model.SiteSettings.PortalTag, action = "Remove", controller = "Request"})';
            var jsonData = JSON.stringify({ "assetRequestId": assetRequestId });

            $.ajax({
                url: action,
                type: "POST",
                dataType: "json",
                contentType: "application/json charset=utf-8",
                data: jsonData,
                processData: false,
                success: function (data) {
                    if (data.Success) {
                        location.reload();
                    }
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                },
                complete: function () {
                }
            });
        }

        function sendReminder(requestId) {
            var action = '@Url.RouteUrl("PortalRoute", new {portaltag = Model.SiteSettings.PortalTag, action = "SendReminder", controller = "Request"})';
            var jsonData = JSON.stringify({ "requestId": requestId });

            $.ajax({
                url: action,
                type: "POST",
                dataType: "json",
                contentType: "application/json charset=utf-8",
                data: jsonData,
                processData: false,
                success: function (data) {
                    if (data.Success) {
                        $.smallBox({
                            title: "Success!",
                            content: "Message sent",
                            color: "#739E73",
                            //timeout: 8000,
                            iconSmall: "fa fa-bell fa-thumbs-up animated"
                        });
                    }
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    alert("Error '" + jqXhr.status + "' (textStatus: '" + textStatus + "', errorThrown: '" + errorThrown + "')");
                },
                complete: function () {
                }
            });
        }

        $(".phone").html(function (i, DATA) {
            var data = formatPhoneNumber(DATA);
            return data;
        });

        function formatPhoneNumber(s) {
            var s2 = ("" + s).replace(/\D/g, '');
            var m = s2.match(/^(\d{3})(\d{3})(\d{4})$/);
            return (!m) ? null : "(" + m[1] + ") " + m[2] + "-" + m[3];
        }
    </script>
}