@model HGP.Web.Models.Account.EditPasswordModel

@using (Html.BeginRouteForm("PortalRoute", new { controller = "Account", action = "EditPassword" }, FormMethod.Post, new
                {
                    @class = "smart-form contact-form form-horizontal padding-bottom-25 col-md-10",
                    role = "form",
                    novalidate = "novalidate"
                }))
{

    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.ValidationSummary()
    </div>
    @Html.HiddenFor(x => x.UserId)

    <header class="section-heading-horizontal"><span>Password</span></header>

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(m => m.Password, new { @class = "name" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "required" }, "em")
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(m => m.NewPassword, new { @class = "name" })
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New password" })
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "required" }, "em")
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "name" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "required" }, "em")
        </div>
    </div>
    <div class="form-group alignright ">
        <div class="col-md-10 ">
            <input type="submit" value="Update Password" class="btn btn-large btn-primary" />
        </div>
    </div>
}

