@model HGP.Web.Models.Account.EditManagerModel

@using (Html.BeginRouteForm("PortalRoute", new { controller = "Account", action = "EditManager" }, FormMethod.Post, new
                {
                    @class = "smart-form contact-form form-horizontal padding-bottom-25 col-md-10",
                    role = "form",
                    novalidate = "novalidate"
                }))
{

    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.ValidationSummary()
    </div>
    @Html.HiddenFor(x => x.UserId)
    <header class="section-heading-horizontal"><span>Your Manager</span></header>

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(m => m.ApprovingManagerName, new { @class = "name" })
            @Html.TextBoxFor(m => m.ApprovingManagerName, new { @class = "form-control", @placeholder = "Manager's name" })
            @Html.ValidationMessageFor(m => m.ApprovingManagerName, "", new { @class = "required" }, "em")
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(m => m.ApprovingManagerEmail, new { @class = "name" })
            @Html.TextBoxFor(m => m.ApprovingManagerEmail, new { @class = "form-control", @placeholder = "Email address" })
            @Html.ValidationMessageFor(m => m.ApprovingManagerEmail, "", new { @class = "required" }, "em")
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(m => m.ApprovingManagerPhone, new { @class = "name" })
            @Html.TextBoxFor(m => m.ApprovingManagerPhone, new { @class = "form-control", @placeholder = "Phone" })
            @Html.ValidationMessageFor(m => m.ApprovingManagerPhone, "", new { @class = "required" }, "em")
        </div>
    </div>
    <div class="form-group alignright ">
        <div class="col-md-10 ">
            <input type="submit" value="Update Contact Info" class="btn btn-large btn-primary" />
        </div>
    </div>
}