@model HGP.Web.Models.Account.EditContactInfoModel

@using (Html.BeginRouteForm("PortalRoute", new { controller = "Account", action = "EditContactInfo" }, FormMethod.Post, new
                {
                    @class = "smart-form contact-form form-horizontal padding-bottom-25 col-md-10",
                    role = "form",
                    novalidate = "novalidate"
                }))
{

    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.ValidationSummary()
    </div>
    @Html.HiddenFor(x => x.UserId)

    <header class="section-heading-horizontal"><span>Contact Info</span></header>
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(m => m.FirstName, new { @class = "name" })
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First name" })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "required" }, "em")
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(m => m.LastName, new { @class = "name" })
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last name" })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "required" }, "em")
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(m => m.Email, new { @class = "name" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email address" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "required" }, "em")
            @Html.RouteLink("Manage your subscriptions", "PortalRoute", new { controller = "Unsubscribe", action = "Index" })<br/><br />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "name" })
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Phone" })
            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "required" }, "em")
        </div>
    </div>
    <div class="form-group alignright ">
        <div class="col-md-10 ">
            <input type="submit" value="Update Contact Info" class="btn btn-large btn-primary" />
        </div>
    </div>
}