@model GuestForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_PortalGuestLayout.cshtml";
    ViewBag.Title = "Forgot your password?";
}

<ul class="slides">
    <li class="jqslider karma-slider-normal-image">
        <div class="slider-content-main">
            <h2 class="slider-post-title">@ViewBag.Title</h2>
            <section id="loginForm">
                @using (Html.BeginForm("GuestForgotPassword", "Account", FormMethod.Post, new { @class = "contact-form form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10">
                            <label class="name" for="email">
                                Email
                            </label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email address" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Send Email" class="btn btn-primary" />
                        </div>
                    </div>
                    <p>
                        <a href="@Url.RouteUrl("GuestRoute", new { action = "GuestLogin", controller = "account" })">Remembered your password?</a>
                    </p>
                }
            </section>
        </div>
        <!-- END slider-content-main -->
        <div class="slider-content-sub guest-login-img icon-align-center">
            <div class="horizontal login-box">
                <div class="vertical">
                    <img class="login-logo" src="https://selection.com/wp-content/uploads/Stock%20Photos/Thorough-Background-Check-436x270.jpg" alt="" />
                </div>
            </div>
        </div><!-- END slider-content-sub -->
    </li>
</ul>
