@model HGP.Web.Models.GuestResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_PortalGuestLayout.cshtml";
}

<ul class="slides">
    <li class="jqslider">

        <div class="slider-content-main">

            <section id="resetForm">
                @using (Html.BeginForm("GuestResetPassword", "Account", FormMethod.Post, new { @class = "smart-form contact-form form-horizontal", role = "form" }))
                {
                    <div class="form-group padding-bottom-10">
                        <h2 class="slider-post-title">@ViewBag.Title</h2>
                    </div>
                    <h5 class="padding-bottom-10">Enter your email address and a new password to continue.</h5>
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.ValidationSummary()
                    </div>
                    
                    @Html.HiddenFor(model => model.Code)

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.Email, new { @class = "name" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email address" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.Password, new { @class = "name" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "name" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-primary" value="Reset Password" />
                        </div>
                    </div>
                }
            </section>
        </div>
        
        <div class="slider-content-sub guest-login-img icon-align-center">
            <div class="horizontal login-box">
                <div class="vertical">
                    <img class="login-logo" src="~/Content/img/hgp/HGP_Care_Logo2.png" alt="" />
                </div>
            </div>
        </div>
    </li>
</ul>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
