@using HGP.Web.Infrastructure
@using StructureMap.Query
@model HGP.Web.Models.PageModel
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    @{ Html.RenderPartial("_CurrentUser"); }
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            <li class="@Html.RouteIf("index", "active")">
                <a href="@Url.RouteUrl("PortalRoute", new { action = "index", controller = "portal" })" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
            </li>
            <li class="@Html.RouteIf("inbox", "active")">
                <a href="@Url.RouteUrl("PortalRoute", new { action = "index", controller = "inbox" })"><i class="fa fa-lg fa-fw fa-inbox"></i> <span class="menu-item-parent">Inbox</span>
                         <span class="badge pull-right inbox-badge">@(Model.HeaderModel.InBoxCount  + Model.HeaderModel.PendingDraftAssetsCount)</span></a>
            </li>
            <li class="@Html.RouteIf("browse", "active")">
                <a href="@Url.RouteUrl("PortalRoute", new { action = "index", controller = "list" })"><i class="fa fa-lg fa-fw fa-list"></i> <span class="menu-item-parent">Browse</span></a>
                <ul>
                    @if (Model.HeaderModel.Categories != null)
                    {
                        foreach (var cat in Model.HeaderModel.Categories)
                        {
                            <li class="@Html.RouteIf("browse", "active")">
                                <a href="@Url.RouteUrl("PortalRoute", new { action = "index", controller = "list", category = cat.UriString } )">@cat.Name (@cat.Count)</a>
                            </li>
                        }
                    }

                </ul>
            </li>
            <li class="@Html.RouteIf("tables", "active")">
                <a href="@Url.RouteUrl("PortalRoute", new { action = "index", controller = "adminassets" })"><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">Manage</span></a>
            </li>
            <li class="@Html.RouteIf("request", "list")">
                <a href="@Url.RouteUrl("PortalRoute", new { action = "list", controller = "request", id = "pending" })">
                    <i class="fa fa-lg fa-fw fa-pencil-square-o"></i>
                    <span class="menu-item-parent">Transfers</span><span class="badge pull-right inbox-badge">@Model.HeaderModel.TransfersCount</span>
                </a>
                <ul>
                    <li class="@Html.RouteIf("request", "list")">
                        <a href="@Url.RouteUrl("PortalRoute", new { action = "list", controller = "request", id = "pending" })">Pending<span class="badge pull-right inbox-badge">@Model.HeaderModel.PendingTransfersCount</span></a>
                    </li>
                    <li class="@Html.RouteIf("request", "list")">
                        <a href="@Url.RouteUrl("PortalRoute", new { action = "list", controller = "request", id = "closed" })">Closed<span class="badge pull-right inbox-badge">@Model.HeaderModel.ClosedTransfersCount</span></a>
                    </li>



                </ul>
            </li>
            <li class="@Html.RouteIf("element", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-file-text-o"></i> <span class="menu-item-parent">Reports</span></a>
                <ul>
                    <li class="@Html.RouteIf("report", "active")">
                        <a href="@Url.RouteUrl("PortalRoute", new { action = "disposition", controller = "report" })">Asset Disposition</a>
                    </li>
                    <li class="@Html.RouteIf("report", "active")">
                        <a href="@Url.RouteUrl("PortalRoute", new { action = "allassets", controller = "report" })">All Assets</a>
                    </li>
                    <li class="@Html.RouteIf("report", "active")">
                        <a href="@Url.RouteUrl("PortalRoute", new { action = "availableassets", controller = "report" })">Available Assets</a>
                    </li>
                    <li class="@Html.RouteIf("report", "active")">
                        <a href="@Url.RouteUrl("PortalRoute", new { action = "expiredassets", controller = "report" })">Expired Assets</a>
                    </li>
                    <li class="@Html.RouteIf("report", "active")">
                        <a href="@Url.RouteUrl("PortalRoute", new { action = "allrequests", controller = "report" })">Transfers</a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("settings", "active")">
                <a href="@Url.RouteUrl("PortalRoute", new { action = "index", controller = "settings" })"><i class="fa fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">Settings</span></a>
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->