@Scripts.Render("~/bundles/jqueryval")
<script src="~/scripts/bootstrap/bootstrap.min.js"></script>
<script src="~/scripts/portal/custom-main.js"></script>
<script src="~/scripts/portal/superfish.js"></script>
<script src="~/scripts/portal/jquery.flexslider.js"></script>
<script src="~/scripts/portal/jquery.fitvids.js"></script>
<script src="~/scripts/portal/scrollWatch.js"></script>
<script src="~/scripts/portal/jquery.ui.core.min.js"></script>
<script src="~/scripts/portal/jquery.ui.widget.min.js"></script>
<script src="~/scripts/portal/jquery.ui.tabs.min.js"></script>
<script src="~/scripts/portal/jquery.ui.accordion.min.js"></script>
<script src="~/scripts/portal/jquery.prettyPhoto.js"></script>
<script src="~/scripts/portal/jquery.isotope.js"></script>
<script src="~/scripts/app.config.js"></script>
<script src="~/scripts/notification/SmartNotification.min.js"></script>
@Scripts.Render("~/bundles/ko")
@Scripts.Render("~/bundles/datatables")
@Scripts.Render("~/bundles/jq-grid2020")
@Scripts.Render("~/bundles/timezone")
@if (@Model is HelperResult)
{
    @Model
}

<div id="divSmallBoxes"></div>

<script>
    $(document).ready(function () {
        $("form").removeData("validator");
        $("form").removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse("form");
        @if (TempData["messages"] != null)
        {
            var text = "";
            var alertClass = "";
            var alertColor = "";
            foreach (var message in (List<AlertMessage>)TempData["messages"])
            {
                switch (message.Severity)
                {
                    case AlertSeverity.Error:
                        text = "Error!";
                        alertClass = "alert-error";
                        alertColor = "#C46A69";
                        break;
                    case AlertSeverity.Message:
                        text = "Note:";
                        alertClass = "alert-info";
                        alertColor = "#3276B1";
                        break;
                    case AlertSeverity.Success:
                        text = "Success!";
                        alertClass = "alert-success";
                        alertColor = "#739E73";
                        break;
                    case AlertSeverity.Warning:
                        text = "Warning!";
                        alertClass = "";
                        alertColor = "#C79121";
                        break;
                }
                <text>
                    $.smallBox({
                        title: "@text",
                        content: "@message.Message",
                        color: "@alertColor",
                        timeout: 30000,
                        iconSmall: "fa fa-bell fa-thumbs-up animated"
                    });
                </text>
            }
        }
    });
</script>