
@using HGP.Web.Models.List
@model HGP.Web.Models.List.ListHomeModel

@if (@Model != null && @Model.Categories.Any())
{
    <div id="category-nav">
        <nav role="navigation" id="sub_nav">
            <ul class="sub-menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page">CATEGORIES</li>
                @foreach (var item in Model.Categories)
                {
                    var activeClass = "";
                    if (item.IsActive)
                    {
                        activeClass = "current-menu-item page_item current_page_item";
                    }
                    <li class="menu-item menu-item-type-post_type menu-item-object-page @activeClass"><a href="@MyHelpers.PortalCategoryUrl(Url, item.ActionName, item.ControllerName, item.Tag)">@item.LinkText</a></li>
                }
                <div class="padding-10"></div>
                <li class="menu-item menu-item-type-post_type menu-item-object-page">REFINE BY LOCATION</li>
                @{
                    var activeCategory = "";
                    foreach (var item2 in Model.Categories)
                    {
                        if (item2.IsActive)
                        {
                            activeCategory = item2.UriString;

                        }
                    }

                    foreach (var item in Model.Locations)
                    {
                        if (item.IsVisible)
                        {
                            var activeClass = "";

                            if (item.IsActive)
                            {
                                activeClass = "current-menu-item page_item current_page_item";
                            }

                            <li class="menu-item menu-item-type-post_type menu-item-object-page @activeClass"><a href="@MyHelpers.PortalLocationUrl(Url, item.ActionName, item.ControllerName, item.Tag, activeCategory)">@item.LinkText</a></li>

                        }

                    }
                }
               

            </ul>
            <br />
            <button class="btn btn-primary" type="submit" style="cursor:pointer" onclick="fnListExcel();">
                Export to Excel
            </button>
        </nav>
    </div>
}
