@model HGP.Web.Models.Admin.AdminUsersPortalModel
@{
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
    ViewBag.MainClass = "content_full_width";
    ViewBag.Title = "User Management";
}

<!-- widget grid -->
<section id="widget-grid" class="">


    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-greenLight" id="wid-id-0" data-widget-colorbutton="false"
         data-widget-editbutton="false"
         data-widget-togglebutton="false"
         data-widget-deletebutton="false">
        <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"

        -->
        <header>
            <h2><strong>@Model.SiteSettings.CompanyName Users</strong></h2>
        </header>


        <!-- widget grid -->
        <section id="widget-grid" class="">
            <div class="tt-icon-box-fixed text-align-left padding-bottom-5">
                <div id="topTools" class="col-sm-6">
                    <span></span>
                </div>
                <div class="col-sm-3">
                    <a data-toggle="modal" href="#myCreateUserModal" class="btn btn-success pull-right header-btn hidden-mobile"><i class="fa fa-plus"></i> Add New User</a>
                </div>
                <div class="col-sm-3 hide">
                    <a data-toggle="modal" href="#myUploadUsersModal" class="btn btn-success pull-right header-btn hidden-mobile"><i class="fa fa-plus"></i> Upload Users</a>
                </div>
            </div>

            <!-- widget div-->
            <div>
                <div class="widget-body no-padding">
                    <div class="custom-scroll table-responsive">
                        <table id="jqgrid"></table>
                        <div id="pjqgrid"></div>
                    </div>
                </div>
                <!-- end widget content -->
            </div>
            <!-- end widget div -->
        </section>
        <!-- end widget grid -->

    </div>
</section>
<!-- end widget grid -->

<script id="users-tmpl" type="text/html">
    <tr>
        <td>
            <span data-bind="text: $index" />
        </td>
        <td></td>
        <td>
            <span data-bind="text: FirstName() + ' '  + LastName()" />
        </td>
        <td>
            <span data-bind="text: Email" />
        </td>
        <td>
            <span data-bind="phone: PhoneNumber" />
        </td>
        <td>
            <span data-bind="text: Roles" />
        </td>
        <td>
            <span data-bind="mongodate: LastLogin, format: 'L LT'" />
        </td>
    </tr>

</script>


<div class="modal fade" id="myCreateUserModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body no-padding">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h1 class="modal-title">
                        <i class="fa fa-fw fa-envelope-o"></i> Create a User
                    </h1>
                </div>

                @using (Html.BeginRouteForm("PortalRoute", new { controller = "User", portalTag = Model.SiteSettings.PortalTag, action = "Create" },
                    FormMethod.Post, new { id = "locations-createform", @class = "smart-form", role = "form" }))
                {

                <fieldset>
                    <section>
                        <div class="form-group">
                            @Html.ValidationSummary("", new { @class = "text-danger" })

                            @Html.HiddenFor(x => x.SiteId)
                        </div>
                    </section>
                </fieldset>

                <fieldset>
                    <section>
                        <div class="form-group">
                            @Html.LabelFor(x => x.NewUserModel.FirstName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(x => x.NewUserModel.FirstName, new { @class = "form-control" })
                                <p class="help-block">
                                </p>
                            </div>
                        </div>
                    </section>
                </fieldset>
                <fieldset>
                    <section>
                        <div class="form-group">
                            @Html.LabelFor(x => x.NewUserModel.LastName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(x => x.NewUserModel.LastName, new { @class = "form-control" })
                                <p class="help-block">
                                </p>
                            </div>
                        </div>
                    </section>
                </fieldset>
                <fieldset>
                    <section>
                        <div class="form-group">
                            @Html.LabelFor(x => x.NewUserModel.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(x => x.NewUserModel.Email, new { @class = "form-control" })
                                <p class="help-block">
                                </p>
                            </div>
                        </div>
                    </section>
                </fieldset>
                <fieldset>
                    <section>
                        <div class="form-group">
                            @Html.LabelFor(x => x.NewUserModel.Phone, new { @class = "col-md-2 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.NewUserModel.Phone, new { @class = "form-control" })
                                <p class="help-block">
                                </p>
                            </div>
                        </div>
                    </section>
                </fieldset>

                <fieldset>
                    <section>
                        <div class=" form-group">
                            <label class="col-lg-2 control-label" for="Role">Select a role:</label>
                            @Html.DropDownListFor(model => model.NewUserModel.Role, new SelectList(
                                        new List<Object>{
                                            new { value = "Requestor" , text = "Requestor"  },
                                            new { value = "ClientAdmin" , text = "Client Admin" },
                                        },
                                        "value",
                                        "text",
                                        2))
                        </div>
                    </section>

                    <section>
                        <div class=" form-group">
                            <label class="col-lg-2 control-label" for="SendWelcomeMessage">Send welcome message:</label>
                            @Html.CheckBoxFor(m => m.NewUserModel.SendWelcomeMessage)


                        </div>
                    </section>

                </fieldset>

                <footer>

                    <button type="submit" class="btn btn-primary" id="saveButton">
                        <i class="fa fa-check"></i> Save
                    </button>

                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelEdit">
                        Cancel
                    </button>

                </footer>

                }
            </div>
        </div>
    </div>
</div>




@section Scripts
{
    <script type="text/javascript">
    var idsOfSelectedRows = [];
    var updateIdsOfSelectedRows = function (id, isSelected) {
        var index = $.inArray(id, idsOfSelectedRows);
        if (!isSelected && index >= 0) {
            idsOfSelectedRows.splice(index, 1); // remove id from the list
        } else if (index < 0) {
            idsOfSelectedRows.push(id);
        }
    };



    var grid = $("#jqgrid").jqGrid({
        url: '@Url.RouteUrl("PortalRoute", new {action = "GetUsersData", controller = "User"})',
        datatype: 'json',
        ajaxGridOptions: { contentType: 'application/json; charset=utf-8' },
        jsonReader: { root: "Users" },
        height: 'auto',
        colNames: ['Id', 'First Name', 'Last Name', 'Email', 'Phone', 'Last Login'],
        colModel: [
            {
                name: 'Id',
                index: 'Id',
                hidden: true,
            },
            {
                name: 'FirstName',
                index: 'FirstName',
                sortable: true,
                width: '100px'
            },
            {
                name: 'LastName',
                index: 'LastName',
                sortable: true,
                width: '100px'
            },
            {
                name: 'Email',
                index: 'Email',
                formatter: 'email',
                sortable: true,
            },
            {
                name: 'PhoneNumber',
                index: 'PhoneNumber',
                sortable: true,
            },
            {
                name: 'LastLogin',
                index: 'LastLogin',
                formatter: 'date',
                formatoptions: { newformat: "m/d/Y h:i A" },
                sortable: true,
                search: false
            }
        ],
        rowNum: 25,
        rowTotal: 2000,
        loadonce: true,
        rowList: [25, 50, 100],
        pager: '#pjqgrid',
        sortname: 'id',
        toolbarfilter: true,
        viewrecords: true,
        sortorder: "asc",

        onSelectRow: updateIdsOfSelectedRows,
        onSelectAll: function (aRowids, isSelected) {
            var i, count, id;
            for (i = 0, count = aRowids.length; i < count; i++) {
                id = aRowids[i];
                updateIdsOfSelectedRows(id, isSelected);
            }
        },
        loadComplete: function () {
            var $this = $(this), i, count;
            for (i = 0, count = idsOfSelectedRows.length; i < count; i++) {
                $this.jqGrid('setSelection', idsOfSelectedRows[i], false);
            }
        },


        caption: "",
        multiselect: true,
        multiboxonly: true,
        autowidth: true,
        toolbar: [true, "both"],
    });


    $("#jqgrid").jqGrid('navGrid', '#pjqgrid', { add: false, edit: false, del: true },
    {},
    {},
    {
        url: '@Url.RouteUrl("PortalRoute", new {action = "GridDeleteUsers", controller = "User"})',
            onclickSubmit: function (options, ids) {
                var $self = $(this),
                    selectedrows = ids.split(","),
                    selectedData = [],
                    i,
                    l = selectedrows.length;

                for (i = 0; i < l; i++) {
                    selectedData.push($self.jqGrid("getRowData", selectedrows[i]).Id);
                }

                return {
                    idsToDelete: JSON.stringify(selectedData)
                }
            }

        },
        {},
        {});


        //$("#edit_jqgrid").click(function () {
        //    //debugger;
        //    var rowdata = $("#jqgrid").jqGrid('getGridParam', 'selrow');
        //    if (rowdata) {
        //        var data = $("#jqgrid").jqGrid('getRowData', rowdata);
        //        $("#myAssetModal").dialog('open');
        //    }
        //});

        $("#jqgrid").jqGrid('navButtonAdd', '#pjqgrid-----', {
            caption: "",
            buttonicon: "ui-icon-pencil",
            onClickButton: function () {
                var action = '@Url.RouteUrl("PortalRoute", new { portaltag = Model.HeaderModel.PortalTag, action = "Edit", controller = "AdminAssetsxx"  })';
                var index = $("#jqgrid").jqGrid('getGridParam', 'selarrrow');
                if (index && (index.length > 0)) {
                    var $self = $(this);
                    var id = $self.jqGrid("getCell", index, 'HitNumber');
                    window.top.location = action + '/' + id;
                }

                //var s;
                //s = $("#listAllSupplierPurchasesGrid").jqGrid('getGridParam', 'selarrrow');

                //if (s.length > 0) {
                //    // Make AJAX call to get the dynamic form content
                //    $.ajax({
                //        cache: false,
                //        async: true,
                //        type: 'POST',
                //        url: "/TargetItems/MarkPurchasesPaidRequest",
                //        data: {
                //            PurchaseIds: JSON.stringify(s)
                //        },
                //        success: function (content) {
                //            // Add the content to the div
                //            $('#myAssetModal').html(content);
                //            // Display the modal
                //            $("#myAssetModal").dialog("open");
                //        },
                //        error: function (res, status, exception) {
                //            alert(status + ": " + exception);
                //        },
                //        modal: true
                //    });
                //}
            },
            position: "first"
        });



        $("#jqgrid").jqGrid('inlineNav', "#pjqgrid");
        $("#jqgrid").filterToolbar({ stringResult: true, searchOnEnter: false });


/* Add tooltips */
        $('.navtable .ui-pg-button').tooltip({
            container: 'body'
        });

        $("#m1").click(function() {
            var s;
            s = jQuery("#jqgrid").jqGrid('getGridParam', 'selarrrow');
            alert(s);
        });

        $("#m1s").click(function() {
            jQuery("#jqgrid").jqGrid('setSelection', "13");
        });

        // remove classes
        $(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
        $(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
        $(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
        $(".ui-jqgrid-pager").removeClass("ui-state-default");
        $(".ui-jqgrid").removeClass("ui-widget-content");

        // add classes
        $(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
        $(".ui-jqgrid-btable").addClass("table table-bordered table-striped");

        $(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
        $(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
        $(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
        $(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
        $(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
        $(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
        $(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
        $(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");
        $(".ui-icon.ui-icon-document").removeClass().addClass("fa fa-file-excel-o");
        $(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
        $(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");
        $(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
        $(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");
        $(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
        $(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");
        $(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
        $(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");

        $(window).on('resize.jqGrid', function() {
            $("#jqgrid").jqGrid('setGridWidth', $("#content").width());
        });

        $("#jqgrid_iladd").hide();
        $("#jqgrid_iledit").hide();
        $("#jqgrid_ilcancel").hide();
        $("#jqgrid_ilsave").hide();

        var toolbarClone = $('#pjqgrid_left').clone(true);
        // Assuming that your grid's ID is myGrid
        $('#topTools').prepend(toolbarClone);

    </script>
}
