@model HGP.Web.Models.Assets.EditAssetModel
@{
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
    ViewBag.Title = "User Profile";
}

@Styles.Render("~/bundles/summernotestyles")
@Scripts.Render("~/bundles/summernote")

<style>
    .content-style-default .section-heading-horizontal::before {
        border-bottom: 1px solid #d9dee4;
        border-top: 1px solid #d8d8d6;
    }

    .section-heading-horizontal {
        position: relative;
        margin-top: 20px;
        text-align: center;
        padding-top: 0;
        margin-bottom: 20px;
    }

        .section-heading-horizontal:before {
            content: "";
            display: block;
            width: 100%;
            height: 0;
            position: absolute;
            top: 50%;
            z-index: 1;
        }



        .section-heading-horizontal span {
            background: #f4f4f2;
            padding: 0 10px;
            position: relative;
            z-index: 5;
            color: #444;
            font-weight: bold;
            font-size: 18px;
        }

    p + .section-heading-horizontal {
        padding-top: 0;
    }

    .padding-bottom-25 {
        padding-bottom: 25px;
    }

    .contact-form input[type="text"], .contact-form input[type="password"] {
    margin-bottom: 8px;
        width: 100%;
}
</style>

<ul class="slides">
    <li class="jqslider ">
        <div class="slider-content-main col col-md-offset-3 col-md-10">
            <section id="loginForm">

                @using (Html.BeginRouteForm("PortalRoute", new { controller = "AdminAssets", action = "Edit" }, FormMethod.Post, new
                {
                    @class = "smart-form contact-form form-horizontal padding-bottom-25 col-md-10",
                    role = "form",
                    novalidate = "novalidate",
                    id = "editForm"
                }))
                {

                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.ValidationSummary()
                    </div>
                    @Html.HiddenFor(x => x.HitNumber)
                    @Html.HiddenFor(x => x.AsssetId)
                    @Html.HiddenFor(x => x.PortalId)

                    <header class="section-heading-horizontal"><span>Asset Info</span></header>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.Title, new { @class = "name" })
                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @placeholder = "Title" })
                            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "required" }, "em")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.Manufacturer, new { @class = "name" })
                            @Html.TextBoxFor(m => m.Manufacturer, new { @class = "form-control", @placeholder = "Manufacturer" })
                            @Html.ValidationMessageFor(m => m.Manufacturer, "", new { @class = "required" }, "em")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.ModelNumber, new { @class = "name" })
                            @Html.TextBoxFor(m => m.ModelNumber, new { @class = "form-control", @placeholder = "Model Number" })
                            @Html.ValidationMessageFor(m => m.ModelNumber, "", new { @class = "required" }, "em")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.SerialNumber, new { @class = "name" })
                            @Html.TextBoxFor(m => m.SerialNumber, new { @class = "form-control", @placeholder = "Serial Number" })
                            @Html.ValidationMessageFor(m => m.SerialNumber, "", new { @class = "required" }, "em")
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.Quantity, new { @class = "name" })
                            @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", @placeholder = "Quantity" })
                            @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "required" }, "em")
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.BookValue, new { @class = "name" })
                            @Html.TextBoxFor(m => m.BookValue, new { @class = "form-control", @placeholder = "Book Value" })
                            @Html.ValidationMessageFor(m => m.BookValue, "", new { @class = "required" }, "em")
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.Location, new { @class = "name" })
                            @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @placeholder = "Location" })
                            @Html.ValidationMessageFor(m => m.Location, "", new { @class = "required" }, "em")
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.ServiceStatus, new { @class = "name" })
                            @Html.TextBoxFor(m => m.ServiceStatus, new { @class = "form-control", @placeholder = "Service Status" })
                            @Html.ValidationMessageFor(m => m.ServiceStatus, "", new { @class = "required" }, "em")
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.Condition, new { @class = "name" })
                            @Html.TextBoxFor(m => m.Condition, new { @class = "form-control", @placeholder = "Condition" })
                            @Html.ValidationMessageFor(m => m.Condition, "", new { @class = "required" }, "em")
                        </div>
                    </div>

                    <header class="section-heading-horizontal"><span>Visibility & Searching</span></header>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.IsVisible, new { @class = "name" })
                            @Html.CheckBoxFor(m => m.IsVisible, new { @class = "form-control", @placeholder = "Visible" })
                            @Html.ValidationMessageFor(m => m.IsVisible, "", new { @class = "required" }, "em")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.Category, new { @class = "name" })
                            @Html.TextBoxFor(m => m.Category, new { @class = "form-control", @placeholder = "Category" })
                            @Html.ValidationMessageFor(m => m.Category, "", new { @class = "required" }, "em")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.Catalog, new { @class = "name" })
                            @Html.TextBoxFor(m => m.Catalog, new { @class = "form-control", @placeholder = "Catalog" })
                            @Html.ValidationMessageFor(m => m.Catalog, "", new { @class = "required" }, "em")
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.AvailForRedeploy, new { @class = "name" })
                            @Html.TextBoxFor(m => m.AvailForRedeploy, new { @class = "form-control", @placeholder = "Available" })
                            @Html.ValidationMessageFor(m => m.AvailForRedeploy, "", new { @class = "required" }, "em")
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m.AvailForSale, new { @class = "name" })
                            @Html.TextBoxFor(m => m.AvailForSale, new { @class = "form-control", @placeholder = "Expiration date" })
                            @Html.ValidationMessageFor(m => m.AvailForSale, "", new { @class = "required" }, "em")
                        </div>
                    </div>

                    <header class="section-heading-horizontal"><span>Description</span></header>
                    <div class="form-group">
                        <div class="col-md-10">
                            <div id="descriptionEdit"></div>
                        </div>
                    </div>

                    @Html.HiddenFor(x => x.Description)

                    <div class="form-group alignright ">

                        <div class="btn-group">
                            <button class="btn btn-sm" id="cancelEdit" type="button">
                                <i class="fa fa-times"></i> Cancel
                            </button>
                        </div>
                        <div class="btn-group">
                            <button id="submitButton" class="btn btn-sm btn-success" type="button">
                                <i class="fa fa-check"></i> Save
                            </button>
                        </div>

                    </div>
                }

            </section>
        </div>

    </li>
</ul>

@section Scripts {

    <script type="text/javascript">
        $('#descriptionEdit').summernote({
            focus: false,
            tabsize: 2
        });
        var desc = $("#descriptionEdit").code('@Model.Description');

        $('#submitButton').click(function () {
            var desc = $("#descriptionEdit").code();
            $('#Description').val(desc);

            $("#editForm").submit();
        });

        $('#cancelEdit').click(function () {
            window.top.location = '@Url.RouteUrl("PortalRoute", new { controller = "AdminAssets", action = "Index" })';
        });
    </script>



}

