@model HGP.Web.Models.Assets.ReviewAssetUploadModel

@{
    ViewBag.Title = "Review Upload";
    Layout = "~/Views/Shared/_PortalLayout.cshtml";
    ViewBag.MainClass = "content_full_width";
}
<!-- widget grid -->
<section id="widget-grid" class="">
    <div class="tt-icon-box-fixed text-align-left padding-bottom-5">
        <div class="col-sm-6">
            <header>
                <h2><strong>Review upload</strong></h2>
            </header>
        </div>
        <div class="col-sm-6">
            <div class="input-group pull-right">
                <div class="input-group-btn ">
                    @using (Html.BeginRouteForm("PortalRoute", new { controller = "Upload", Action = "DoUploadAssets" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.HiddenFor(x => x.FileName)
                        @Html.HiddenFor(x => x.FullFileName)
                        @Html.HiddenFor(x => x.SiteId)
                        @Html.HiddenFor(x => x.ContentType)
                        <button id="processBtn" class="btn btn-success pull-right">
                            <i class="fa fa-plus"></i> <span class="hidden-mobile">Finalize Upload</span>
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="tt-icon-box-fixed text-align-left padding-bottom-5 alert alert-info">
        <div class="col-sm-12">
            <h5>
                Please review any errors or warnings and click import if you are ready to proceed;
                Assets with errors will be skipped.
            </h5>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <strong>Assets imported:</strong>
            </div>
            <div class="col-sm-1">
                @Model.ImportResult
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2">
                <strong>Asset file:</strong>
            </div>
            <div class="col-sm-6">
                @Model.FileName              
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <strong>Rows:</strong>
            </div>
            <div class="col-sm-1">
                @Model.Rows
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2">
                <strong>Columns:</strong>
            </div>
            <div class="col-sm-6">
                @Model.Columns
                @using (Html.BeginRouteForm("PortalRoute", new { controller = "Upload", Action = "TryUploadAssetsAgain" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.HiddenFor(x => x.FileName)
                    @Html.HiddenFor(x => x.FullFileName)
                    @Html.HiddenFor(x => x.SiteId)
                    @Html.HiddenFor(x => x.ContentType)
                    <button id="processBtn" class="btn-small btn-success">
                        <i class="fa fa-plus"></i> <span class="hidden-mobile">Try Again</span>
                    </button>
                } 
            </div>
        </div>
    </div>

    <div class="row" id="results-grid">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget well">
                <header>
                    <h2><strong>Errors & Warnings</strong></h2>
                </header>
                <!-- widget div-->
                <div role="content">
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div class="custom-scroll table-responsive">
                            <table id="errors-grid" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Line #</th>
                                        <th>Severity</th>
                                        <th>Message</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="template: { name: 'errors-tmpl', foreach: myViewModel.model.Errors }"></tbody>
                            </table>
                            <h3 data-bind="if: myViewModel.model.Errors().length == 0">No errors found! Click "Finalize Upload" to import the data.</h3>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
        </article>
    </div>
</section>
<!-- end widget grid -->

<script id="errors-tmpl" type="text/html">
    <tr>
        <td>
            <span data-bind="text: LineNumber" />
        </td>
        <td>
            <div data-bind="switch: Severity">
                <div data-bind="case: 1">
                    <img src="@Url.Content("/Content/img/icons/16/s/information.png")" title="Warning" />
                </div>
                <div data-bind="case: 2">
                    <img src="@Url.Content("/Content/img/icons/16/s/error.png")" title="Error" />
                </div>
                <div data-bind="case: 3">
                    <img src="@Url.Content("/Content/img/icons/16/s/error.png")" title="Fatal error" />
                </div>
            </div>
        </td>
        <td>
            <div data-bind="text: Message"></div>

                    <div data-bind="switch: ErrorType">
                        <div data-bind="case: 22">
                            <a href="@Url.RouteUrl("AdminPortalRoute", new { action = "create", controller = "adminlocations", id = Model.SiteSettings.PortalTag, target = "_new" })">(Add location)</a>
                        </div>
                    </div>
                
</td>
        <td>
            <span data-bind="text: Data" />
        </td>
    </tr>

</script>

@section Scripts
{
    <script type="text/javascript">
        var initialData = @Html.Raw(Model.JsonData);
        var viewModel = function() {
            var self = this;
            self.model = ko.mapping.fromJS(initialData);
        };

        var myViewModel = new viewModel();
        ko.applyBindings(myViewModel, $("#results-grid").get(0));

            if (myViewModel.model.Errors().length > 0) {
                $('#errors-grid').DataTable({
            });
        }
    </script>
}
